*{
  box-sizing: border-box;
}

.App{
  padding: 1rem;
}

.dynamicStates{
  display: flex;
  width: calc(100vw - 2rem);
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.Container{
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.displayNames{
  display: flex;
  margin: 1rem;
  margin-bottom: 3rem;
  position: relative;
  justify-content: center;
  justify-items: center;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid coral;
}

table tr{
  line-height: 2rem;
}

table td{
  border: 1px solid coral;
  min-width: 12rem;
  line-height: 2rem;
}

table tr:last-child{
  border: none;
}

.inputBox{
  margin: 0.5rem;
  border: 1px solid black;
  height: 2rem;
}

.deleteButton{
  margin: 0.5rem;
  height: 2rem;
  border: 1px solid red;
  background-color: lightcoral;
}

.addButton{
  margin: 0.5rem;
  height: 2rem;
  border: 1px solid green;
  background-color: lightgreen;
}